* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  padding: 10px;
}

.hero__main {
  flex-grow: 34;
  text-align: center;
}

.hero__main > a {
  text-decoration: none;
  color: inherit;
}

.hero__main > a:hover {
  text-decoration: underline;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

.main__heading {
  margin: 1rem 0;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25ch;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main__content {
  margin: 0;
  font-size: 1.125rem;
  font-family: "Poppins", system-ui;
  font-weight: 400;
}

.main__content--semiBold {
  margin-bottom: 10px;
  font-weight: 600;
}

.main__content--bold {
  margin: 10px 0 20px;
  font-weight: 700;
}

.main__form {
  position: relative;
  max-width: 700px;
  margin: 50px auto 0;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.form__header {
  margin-left: 10px 10px 10px 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.form__input {
  display: block;
  width: 100%;
  height: 2.375rem;
  margin-bottom: 10px;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #e7e7e7;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: inherit;
  font-family: inherit;
  color: #31363a;
}

.form__input--left {
  display: inline;
  width: calc(50% - 5px);
  margin-right: 10px;
}

.form__input--right {
  display: inline;
  width: calc(50% - 5px);
}

.form__input:focus {
  outline: 0;
  background-color: hsl(0, 0%, 93%);
}

.form__msg {
  resize: none;
  min-height: 120px;
  padding: 0.625rem;
}

.form__cutout {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background-color: #fff;
  border-width: 6px;
  border-style: solid;
  border-color: #fff;
  border-top-left-radius: 10px;
  color: #fff;
}

.form__submit {
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 0.75rem;
  background-color: #9b43fa;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.form__submit:hover {
  background-color: hsl(269, 95%, 52%);
}

.hero__imgs {
  flex-grow: 21;
}

.imgs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

.img {
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.img--left {
  align-self: flex-start;
}

.img--right {
  align-self: flex-end;
}

.img--center {
  align-self: center;
}

@media (max-width: 640px) {
  .hero {
    gap: 0;
  }
  
  .img {
    display: none;
  }
}